html, body{
  margin: 0;
  padding: 0;
  font-family: Helvetica, serif;
  width: 100%;
  height: 100%;
  background: url("assets/background.png") bottom;
}

button{
  background-color: #78D76A;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 1px solid transparent;
}

button:hover:enabled{
  cursor: pointer;
  color: #78D76A;
  background-color: white;
  border: 1px solid #78D76A;
}

button:disabled{
  background-color: #a1d79c;
}

button:disabled:hover{
  cursor: not-allowed;
}


input{
  max-width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  background-color: transparent;
  color: white;
}
*:focus {
  outline: none;
}
